---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="w-full h-[100vh]">
    <img class="absolute" src="images/farb-blobs/1.svg" aria-hidden="true" />

    <div class="flex justify-center items-center w-full h-full">
      <img
        src="images/logo.svg"
        class="w-4xl"
        alt="Das Logo von Kappeln ist bunt in sehr groß. Das Logo enthält den Text 'Kappeln ist bunt'. Der Text ist leicht gedreht von unten links nach oben rechts. Der Text ist gelb und um den Text herum explodieren viele Farben wie Feuerwerk."
      />
    </div>
  </section>
  <!-- <div class="bg-red-300">Moin</div> -->
</Layout>
